
<% # yeah 
selectedimage = image.flickr  
%>

<span class="selectedimage" id="<%= selectedimage.id %>">

    <a target="_preview" href="<%= selectedimage.url rescue "" %>">
      <img src="<%= 
       begin 
       selectedimage.url(:small)
       rescue 
       image_path "photo_not_found.png" 
       end
      %>">
</a>

<br/>
  <%= link_to_remote 'Remove', { :url => resource_path(image), :method => :delete } %>
  
</span>


